@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.anim {
    animation: animation 0.5s;
}

@keyframes animation {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0px);
    }
}

* {
    scroll-behavior: smooth;
}